/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  margin: 0;
  padding: 0;
}

header{
  background: gray;
}

body {
  background: rgb(0, 63, 103);
  min-width: 450px;
  min-height: 450px;
  color: white;
}

.container{
  background: white;
  width: 90%;
  margin: 20px auto;
  border-radius: 5px;
  color: black;
  text-align: center;
  padding: 20px;
}
